@import "reset-fonts-grids.css";

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #3a3a3a;
}

a img {
	border: none;
}

a {
	color: #0000FF;
}

p {
	margin-bottom: 15px;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.login input {
	font-size: 14px !important;
	padding: 4px 6px;
	border: 1px solid #ccc;
}

.login input:focus {
	border: 1px solid #666;
}

select {
	font-size: 14px !important;
}

#shipments input, #shipments select {
	font-size: 11px !important;
	padding: 0px !important;
}

form div {
	margin-bottom: 20px;
}

#shipments {
	width: 957 !important;
}

#chat-box {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
	width: 200px;
	padding: 15px;
	background: #a6c9e5;
	color: #424242;
	height: 390px;
	overflow-y: scroll;
}

#chat-box textarea {
	width: 190px;
	height: 70px;
}

#chat-box img {
	float: left;
	margin-right: 10px;
	border: 1px solid #fff;
}

.comment-name {
	font-weight: bold;
}

#chat-box h3 {
	text-transform: uppercase;
	border-bottom: 1px solid #424242;
	margin-bottom: 10px;
	font-weight: bold;
}

.time-ago {
	font-size: 9px;
	color: #7b7b7b;
}

h1 {
	font-size: 24px;
	margin-bottom: 15px;
}

h2 {
	font-size: 18px;
	margin-bottom: 15px;
}

label {
	text-transform: uppercase;
	color: #898989;
}

.btn {
	background: #3d76a1;
	padding: 4px 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #fff;
	border: 0px;
	cursor: pointer;
	margin: 20px;
	font-size: 12px !important;
}

#container {
	position: relative;
	width: 1250px;
	margin: 0 auto;
	background-color: #FFF;
}

#logo {
	margin-top: 20px;
	float: left;
}

#user_status {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 10px;
	padding: 6px 8px;
	color: #aaa;
}

#user_status a {
	color: #aaa;
}

#nav {
	position: relative;
	width: 1000px;
}

#nav ul li a {
	display: block;
	float: right;
	padding: 5px 10px;
	margin: 0 10px 0px 0;
	text-decoration: none;
	color: #aaa;
	font-size: 14px;
}

#nav ul li a:hover {
	color: #666;
}

#nav ul li.selected a {
	background: #87b6d9;
	color: #fff;
}

#nav a:last-child {
	margin-right: 0px !important;
}

#sub-nav {
	position: absolute;
	right: 5px;
	bottom: -20px;
	z-index: 50;
	color: #fff;
}

#sub-nav a {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
}

ul.dropdown ul {
	width: 120px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 175px;
	z-index: 9999;
	background: #fff;
	-moz-box-shadow: 0 5px 5px #ccc;
	-webkit-box-shadow: 0 5px 5px #ccc;
}

ul.dropdown ul li {
	font-weight: normal;
	background: #f6f6f6;
	color: #000;
	margin-left: 20px;
}

ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
}

.content {
	width: 1000px;
	float: left;
}

#create {
	position: absolute;
	right: 190px;
	top: 27px;
	background: #fff;
	z-index: 100;
	padding: 10px;
	-moz-box-shadow: 0 5px 5px #666;
	-webkit-box-shadow: 0 5px 5px #666;
}

#create a {
	display: block;
	color: #666;
	padding-bottom: 5px;
	font-size: 14px;
	text-decoration: none;
}

#create a:hover {
	color: #000;
}

.ui-dialog {
	-moz-box-shadow: 0px 0px 10px #666;
	-webkit-box-shadow: 0px 0px 10px #666;
}

.ui-icon-circle-triangle-n {
	display: none !important;
}

.ui-widget-header {
	border: 0px !important;
}

.ui-jqgrid-bdiv {
	overflow-x: hidden !important;
}

.ui-jqgrid-bdiv {
	height: 350px !important;
}

.ui-subgrid .ui-jqgrid-bdiv {
	height: auto !important;
}

.subgrid-data, .subgrid-data .ui-widget-content {
	border-left: 0 !important;
	border-bottom: 0 !important;
	border-top: 0 !important;
}

.ui-jqgrid tr.jqgrow td {
	border: 1px solid #A6C9E2 !important;
}

.ui-subgrid {
	position: relative;
	top: 5px;
}

.new_shipment {

}

.info {
	float: left;
	padding: 25px 25px 10px;
	background: #f0f0f0;
	width: 250px;
	margin-bottom: 0px !important;
}

.bol {
	float: left;
	padding: 20px;
	width: 330px;
}

.comments {
	float: left;
	width: 250px;
	padding: 25px;
}

.comments textarea {
	width: 250px;
}

.slip {
	float: left;
	padding: 25px 25px 10px;
	background: #e3e3e3;
	width: 250px;
}

.slip-items {
	float: left;
	width: 697px;
	background: #fff;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
}

.fields {
	padding: 25px 25px 10px 25px;
	border-bottom: 1px solid #c0c0c0;
}

.fields textarea {
	width: 600px;
	height: 30px;
}

.add-more {
	float: right;
	margin: 10px 20px 10px 0;
	padding: 3px 5px;
	background: #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-decoration: none;
}

#flash_notice, #flash_error {
	padding: 5px 8px;
	margin: 10px 0;
	width: 300px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -150px;
	text-align: center;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

.fieldWithErrors input {
	border: solid red 1px;
}

#errorExplanation {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}

.edit {
	background: #eee;
	padding: 3px;
}

strong {
	font-weight: bold;
}

span.larger {
	font-size: 14px !important;
}

#woodbolt, #woodbolt2 {
	display: none;
}
