<% title "Contacts" %>

<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
	<%= jqgrid_javascripts %>
<% end -%>

<%= jqgrid("Contacts", "contacts", "/contacts",
	[
		{ :field => "contact_type_id", :label => "Contact Type", :width => 90, :editable => true, :edittype => "select",
				  :editoptions => { :value => Contact::CONTACT_TYPE_ID.map {|c| [c[1], c[0].humanize]}.sort } },
		{ :field => "company_name", :label => "Company Name", :width => 120, :editable => true },
		{ :field => "contact_name", :label => "Contact Name", :width => 90, :editable => true },
		{ :field => "email", :label => "Email", :editable => true },
		{ :field => "street_1", :label => "Street 1", :width => 80, :editable => true },
		{ :field => "street_2", :label => "Street 2", :width => 80, :editable => true },
		{ :field => "city", :label => "City", :width => 80, :editable => true },
		{ :field => "state", :label => "State", :width => 80, :editable => true },
		{ :field => "zip", :label => "Zip", :width => 80, :editable => true },
		{ :field => "phone", :label => "Phone", :width => 80, :editable => true },
		{ :field => "fax", :label => "Fax", :width => 80, :editable => true }
	],
			{:add => true, :edit => true, :inline_edit => true, :delete => false, :edit_url => "/contacts/post_data"}
) %>

<p><%= link_to "New Contact", new_contact_path %></p>
