<% title "#{params[:status].humanize if params[:status]} Shipments" %>

<% if @user -%>
	<h3 style='display:inline;'>Assigned to <%= @user.name %></h3> <%= link_to "View All", shipments_path(:status => params[:status]) if params[:status] %>
	<br /><br />
<% end -%>

<!-- <table>
  <tr>
		<%#= case params[:status]
					when 'pending' then render :partial => 'pending_headers'
					when 'delivered' then render :partial => 'delivered_headers'
					when 'invoiced' then render :partial => 'invoiced_headers'
				end	
		%>
  </tr>
	<%#= case params[:status]
				when 'pending' then render :partial => 'pending', :collection => @shipments
				when 'delivered' then render :partial => 'delivered', :collection => @shipments
				when 'invoiced' then render :partial => 'invoiced', :collection => @shipments
			end	
	%>


</table> -->


<%= case params[:status]
			when 'pending' then render :partial => 'pending_grid'
			when 'delivered' then render :partial => 'delivered_grid'
			when 'invoiced' then render :partial => 'invoiced', :collection => @shipments
		end	
%>


<script>
$(function(){
	$('.edit').editable(function(value, settings) {
			$.ajax({
			   type: "PUT",
			   url: "/shipments/"+ $(this).parent().parent().attr("data-id")+".js",
			   data: "shipment["+ $(this).attr("name") +"]="+value.replace(/\$/g,''),
			   success: function(msg){
			   }
			 });
			return(value);
	}, { 
	   submit  : 'OK',
	});
	$('.deliver').change(function(){
		if($(this).is(":checked")){
			var checkbox = $(this);
			$.ajax({
			   type: "GET",
			   url: "/shipments/"+ $(this).parent().parent().attr("data-id")+"/deliver.js",
			   success: function(){
					checkbox.parent().parent().hide();
					alert("Shipment status successfully changed to Delivered")
			   },
					error: function(xhr){
						alert(xhr.responseText);
						checkbox.attr('checked', false);
					}
			 });
		}
	});
	$('.invoice').change(function(){
		
		if($(this).is(":checked")){
			var checkbox = $(this);
			$.ajax({
			   type: "GET",
			   url: "/shipments/"+ $(this).parent().parent().attr("data-id")+"/invoice.js",
			   success: function(){
					checkbox.parent().parent().hide();
					alert("Shipment status successfully changed to Invoiced");
			   },
					error: function(xhr){
						alert(xhr.responseText);
						checkbox.attr('checked', false);
					}
			 });
		}
		
	});
});
</script>