<% content_for :head do -%>
	<%= jqgrid_stylesheets %> 
	<%= jqgrid_javascripts %>
	<%= javascript_include_tag "ajaxfileupload" %>
<% end -%>

<%= jqgrid("Pending Shipments", "shipments", "/shipments/pending",
	[
		{ :field => "reference_number", :label => "Reference #", :width => 100, :resizable => false },
		{ :field => "bol_pro_number", :label => "BOL/PRO #", :width => 200, :editable => true, :resizable => false },
		{ :field => "carrier_id", :label => "Carrier", :width => 80, :editable => true, :resizable => false, :edittype => "select",
				  :editoptions => { :value => Carrier.all.collect {|u| [u.id, u.name]} } },
		{ :field => "deliver_by_date", :label => "Deliver By", :width => 90, :editable => true, :resizable => false },
		{ :field => "bol_file", :label => "BOL", :editable => true, :width => 150, :edittype => "file", :resizable => false },
		{ :field => "packing_slip_info", :label => "Packing Slip", :width => 90, :editable => false, :resizable => false },
		{ :field => "picked_up_at", :label => "Pickup Time", :width => 90, :editable => true, :resizable => false },
		{ :field => "stock_transfer_wo_number", :label => "Stock Transfer / WO #", :width => 150, :editable => true, :resizable => false },
		{ :field => "delivered_check", :label => "Deliver", :editable => true, :edittype => "checkbox", :width => 55, :resizable => false, :align => "center" }
		
	]	,
			{ :edit => true, :inline_edit => true, :delete => true, :edit_url => "/shipments/pending_post_data" }
) %>

<script>
$(function(){
	$("input[name=bol_file]").live("change", function(){
		var fileElementId = $(this).attr("id");
		var shipmentId = $(this).parent().parent().attr("id");
		$.ajaxFileUpload({
		    url:'/bol_upload/' + shipmentId,
		    secureuri:false,
		    fileElementId: fileElementId,
		    dataType: 'json',
		    success: function (data, status) {
					$("#"+fileElementId).parent().html("Uploaded");
		    },
		    error: function (data, status, e)
		    {
		        alert(e);
		    }
		});
	});
});

// fileUploadHandler : function(formid)
// 
// {
// 
// 
// $(formid).attr("method","POST");
// $(formid).attr("action","");
// $(formid).attr("enctype","multipart/form-data");
// $("<br/><button id='buttonUpload'>Upload</button>").insertAfter("#fileToUpload",formid);
// $("#buttonUpload",formid).click(function(){
//     $.ajaxFileUpload({
//         url:'doajaxfileupload.php',
//         secureuri:false,
//         fileElementId:'fileToUpload',
//         dataType: 'json',
//         success: function (data, status) {
//             if(typeof(data.error) != 'undefined')
//             {
//                 if(data.error != '')
//                 {
//                     alert(data.error);
//                 }else{
//                     $("#fileToUpload").val("");
//                     alert(data.msg);
//                 }
//             }
//         },
//         error: function (data, status, e)
//         {
//             alert(e);
//         }
//     });
//     return false;
// });
// 
// }



</script>